@tailwind base;
@tailwind components;
@tailwind utilities;



/* primary color backgrround color */
/* secondary color heading and button bg color */
/* orange color some specific element  color */



* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    font-size: 15px;
}

/* navbar */
.width-90 {
    width: 90%;
    margin: auto;
}

.width-80 {
    width: 80%;
    margin: auto;
}


.navbar {
    background-color: theme('colors.nav');
    color: theme('colors.white');
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.downloadButton {
    background-color: theme('colors.secondary');
    color: theme('colors.white')
}

.navul li {
    position: relative;
    overflow: hidden;
}

.navul li a {
    position: relative;
    text-decoration: none;
    color: theme('colors.white');
}

.navul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: theme('colors.orange');
    left: -100%;
    bottom: 0;
    transition: left 0.3s ease-in-out;
}

.navul li:hover::after {
    left: 0;
}


.navul li:not(:hover)::after {
    left: -100%;
    transition: left 0.3s ease-in-out;
}

.navbutonMenu {
    background-color: theme('colors.secondary');
    ;
    color: theme('colors.orange');
    ;
    border: 1px solid theme('colors.secondary');
    ;
}

.sidebar-bg {
    background-color: theme('colors.nav');
    color: theme('colors.white');
}



/* hero sec */



.hero-sec-bg {
    background-color: theme('colors.primary');
    ;
    background-image: url("/public/Assets/image/bg1.png");
    width: 100%;
    height: 100%;
}

.hero-heading {
    font-size: 4.78vw;
    font-weight: bolder;
    color: theme('colors.white');
}

.hero-heading span {
    color: theme('colors.orange');
}

.sub-heading {
    font-size: 22px;
    font-weight: bolder;
    color: theme('colors.secondary');
}

.hero-para {
    font-size: 15px;
    color: theme('colors.white');
}

.hero-img-container {
    position: relative;
    width: 65%;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
}

.hero-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;

}

.hero-img-container img:hover {
    transform: scale(1.1);
    transition: all 1s;

}

.height-100 {
    display: flex;
    padding: 8vw 0rem;
    justify-content: center;
    align-items: center;
}

.hero-sec-bg::after {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    z-index: 1;
    opacity: 0.5;
}

.hero-sec-container {
    padding-top: 6rem;
    position: relative;
    z-index: 2;
}





/* home sec 2 */




.border-gradient {
    border: 1px solid theme('colors.orange');
    border-image-slice: 1;

    border-image-source: linear-gradient(to bottom, theme('colors.orange'), theme('colors.primary'));
}

.border-gradient1 {
    border: 1px solid theme('colors.orange');
    border-image-slice: 1;

    border-image-source: linear-gradient(to right, theme('colors.orange'), theme('colors.primary'));
}

.homesection2LeftCard {
    text-align: center;
    padding: 15px;
    position: relative;
    width: 60%;
    /* opacity: 0.7; */
    height: 37vw;
    box-shadow: 0px 0px 0.1px 0px theme('colors.secondary');
    background-image: linear-gradient(theme('colors.third'), theme('colors.primary'));

}

.homesection2LeftCard h2 {
    font-size: 8vw;
    color: theme('colors.orange');
    font-weight: bold;

}

.homesection2LeftCard .yearPara {
    font-size: 18px;
    color: theme('colors.white');
}

.sec2card1box2 {
    text-align: center;
    padding: 15px;
    position: absolute;
    right: -6vw;
    bottom: 4vw;
    width: 70%;
    /* opacity: 0.7; */
    padding: 1.5rem;
    display: flex;
    gap: 12px;
    /* height: 37vw; */
    box-shadow: 0px 0px 0.1px 0px theme('colors.secondary');
    background-image: linear-gradient(to right, theme('colors.third'), theme('colors.primary'));

}

.sec2card1box2 .count {
    font-size: 32px;
    color: theme('colors.secondary');
    font-weight: bold;
}

.sec2card1box2 .count1 {
    font-size: 14px;
    opacity: 1;
    color: theme('colors.white');

}

.homesec2box2 {
    color: theme('colors.white');
}

.homesec2box2 h3 {
    font-size: 22px;

}

.homesec2box2 p {
    font-size: 15px;
}

.homesec2box2 .homesec2 {
    text-align: center;
    padding: 10px;
    position: relative;
    background-color: theme('colors.white');

}














/* footer */
.footer {
    color: theme('colors.white');
    background-color: theme('colors.primary');
    padding: 3rem 0rem;
}

.sub-heading1 {
    margin-bottom: 0.6rem;
    font-size: 18px;
    font-weight: bolder;
    color: theme('colors.secondary');
}

/* .sub-heading1 ul li a {
    padding: 0.5rem;
    margin: 0.5rem;
} */
.das {
    color: theme('colors.orange');
}







body {
    color: #000;
    min-height: 100vh;
    overflow-x: hidden;
    background: #ffdde1;
    background: -webkit-linear-gradient(to right, #ECE9E6, #FFFFFF);
    background: -moz-linear-gradient(to right, #ECE9E6, #FFFFFF);
    background: -o-linear-gradient(to right, #ECE9E6, #FFFFFF);
    background: linear-gradient(to right, #ECE9E6, #FFFFFF);
    font-family: Helvetica, sans-serif;
}

.cursor {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 1px solid white;
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
}

.expand {
    background: transparent;
    animation: moveCursor2 .5s forwards;
    border: 1px solid white;
}

@keyframes moveCursor1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}






/* @media (min-width: 768px) and (max-width: 1024px) {
    .hero-heading {
        font-size: 4.78vw;
    }

} */


@media (min-width: 425px) and (max-width: 768px) {
    .hero-heading {
        font-size: 8.78vw;
    }

    .homesection2LeftCard {
        height: 60vw;
    }

    .homesection2LeftCard h2 {
        font-size: 15vw;
    }

    .sec2card1box2 {
        right: -6vw;
        bottom: 7vw;
    }

    .sec2card1box2 .count {
        font-size: 27px;
    }

}

@media (min-width: 0px) and (max-width: 425px) {
    .hero-heading {
        font-size: 8.78vw;
    }

    .homesection2LeftCard {
        height: 86vw;
    }

    .homesection2LeftCard h2 {
        font-size: 15vw;
    }

    .sec2card1box2 {
        right: -6vw;
        bottom: 7vw;
    }

    .sec2card1box2 .count {
        font-size: 27px;
    }



}